.idea/
!/docs/
!/src
!/README.md
!/composer.json
!/phpdoc.xml

bootstrap.php
phpunit.xml
phpstan.neon
Makefile
.DS_Store
*.bak
dist/
build/
cache/
vendor/
dependencies/
/joomla-cms/
.phpunit.cache/
tests/
**/*Test.php
**/**.cache
